#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 30px;
  z-index: 100;
  border: none;
  outline: none;
  background-color: var(--bs-primary);
  color: var(--bs-body-bg);
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease;
  opacity: 0.3;
}

#scrollToTopBtn:hover {
  background-color: var(--bs-primary);
}

